<h1 mat-dialog-title class="text-center"><b>{{title}}</b> Monitor Data</h1>
<hr>
<div mat-dialog-content *ngIf="this.data.data !== undefined">
  <table id="example" class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>INDEX</th>
      <th *ngFor="let data of this.subKeys">{{data}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of this.data_row">
      <td *ngFor="let value of data">{{value}}</td>
    </tr>
    </tbody>
  </table>
  <p>{{data.data}}</p>
</div>
<div mat-dialog-content *ngIf="this.data.data === undefined">
  <p class="text-center" style="color:red"><b>{{no_data_resp}}</b></p>
</div>
<button class="btn btn-xl btn-primary" (click)="onNoClick()">Close</button>

