
<script type="text/javascript" src="../../assets/d3.js"></script>
<script type="text/javascript" src="../../assets/d3-tip.js"></script>

<div>
    <button id="load_btn">Load</button>
    <button id="animated_btn">Static</button>
    <select autocomplete="off" id="desc_field_selector">
        <option value="mac" selected>MAC</option>
        <option value='ip'>IP</option>
        <option value='device_name'>Name</option>
    </select>
</div>
<svg width="960" height="600" #topo_container>
    <rect id="view_container" x="0" y="0" width="960" height="600"></rect>
</svg>