
<script type="text/javascript" src="../../assets/d3.js"></script>
<script type="text/javascript" src="../../assets/d3-tip.js"></script>


    <div class="row">
        <div class="col">
            <label>Nodes: &nbsp;</label>
            <input id="preview" type="file" (change)="loadNodeFile($event)" />   
        </div>
        <br>
        <div class="col">
            <label>Links: &nbsp;&nbsp;&nbsp;</label>
            <input id="preview" type="file" (change)="loadLinkFile($event)" />   
        </div>
        <br>
        <button (click)="confirmLoad()">LOAD FILE VIEW</button>
    </div>
    <div class="row">

    </div>
    <hr>

        <svg #topo_container class="topo_container">
            <rect id="view_container" x="0" y="0" class="topo_container"></rect>
        </svg>
