<script type="text/javascript" src="../../assets/d3.js"></script>
<script type="text/javascript" src="../../assets/d3-tip.js"></script>
<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6">
        <label><b>Nodes File:</b> &nbsp;</label>
        <input #nodeSelection id="node" type="file" class="filestyle btn btn-primary" (change)="loadNodeFile($event)" /> &nbsp; 
      </div>
      <br>
      <div class="col-md-6">
        <label><b>Links File:</b> &nbsp;&nbsp;&nbsp;</label>
        <input #linkSelection id="link" type="file" class="filestyle btn btn-primary" (change)="loadLinkFile($event)" /> &nbsp; 
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button [ngClass]="[bntStyle]" (click)="confirmLoad()">Load files</button>
      </div>
    </div>
  </div>
  
  <div class="col-md-6 ">
    <div class="row">
        <div class="col-md-6">
          <label><b>OSNR File:</b> &nbsp;&nbsp;&nbsp;</label>
          <input id="osnr" type="file" class="filestyle btn btn-primary" (change)="loadOSNRFile($event)" /> &nbsp; 
          <div class="col-md-12">
            <button class="btn btn-success btn-xl" (click)="confirmOSNRUpdate()">Load OSNR file</button>
          </div>
        </div>
        <div class="col-md-6">
          <table class="table table-bordered">
            <tbody class="">
              <tr class="table-active">
                <th scope="row detailText">Firebase Status</th>
                <td [ngClass]="[firebaseStatusStyle]">
                  {{firebaseStatus}}
                </td>
              </tr>
              <tr>
                <th scope="row detailText">Local File Status</th>
                <td [ngClass]="[loadFileStatuStyle]">
                  {{loadFileStatus}}
                </td>
              </tr>
              <tr class="table-active">
                <th scope="row detailText">API Status</th>
                <td [ngClass]="[apiStatusStyle]">
                  {{apiStatus}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>
<hr>
<app-dialog></app-dialog>
<div class="row">
<div class="col-md-1">
  <div class="row ul-box">
    <h5>Channels:</h5>
    <ul class="col-md-8 text-center">
      <li class="checkbox" *ngFor="let subtask of task.subtasks">
        <mat-checkbox [(ngModel)]="subtask.completed"
                      [color]="subtask.color"
                      (ngModelChange)="updateAllComplete()">
                      {{subtask.name}}
        </mat-checkbox> =
      </li>
    </ul>
    <ul class="col-md-4">
      <li *ngFor="let subtask of task.subtasks">
        <div [ngClass]='subtask.definedColor'></div> 
      </li>
    </ul>
  </div>
</div>
<div class="col-md-11">
  <svg #topo_container class="topo_container" width="960" height="600">
    <rect id="view_container" class="topo_container"></rect>
  </svg>  
</div>
</div>

