@charset "UTF-8";

@font-face {
  font-family: "fontastic-all";
  src:url("./assets/fonts/fontastic-all.eot");
  src:url("./assets/fonts/fontastic-all.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/fontastic-all.woff") format("woff"),
    url("./assets/fonts/fontastic-all.ttf") format("truetype"),
    url("./assets/fonts/fontastic-all.svg#fontastic-all") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "fontastic-all" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ftstcall-"]:before,
[class*=" ftstcall-"]:before {
  font-family: "fontastic-all" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
  link style
*/


.links .link_container .link_item{
  fill: none;
  stroke-width: 3px;
}

.links .link_container .link_selector {
  stroke: rgba(170, 160, 100, 0);

  fill: none;
  stroke-width: 9px;
}

.links .link_container.focus .link_item {
  stroke: black;
}


/*
  node style
*/

.nodes {
  cursor: pointer;
}

.nodes .node_container text {
  text-anchor: middle;
  font-size: 25px;
  fill: #444444;
}

.nodes .node_container circle {
  stroke-width: 5;
}

.nodes .node_container.stat_normal circle {
  stroke: #1ca2db;
  fill: rgba(53, 186, 246, 0.67);
}

.nodes .node_container.stat_abnormal circle {
  stroke: #E5F1B6;
  fill: rgba(229, 241, 182, 0.67);
}

.nodes .node_container.stat_error circle {
  stroke: #ff4200;
  fill: rgba(214, 100, 62, 0.67);
}

.nodes .node_container.stat_down circle {
  fill: rgba(193, 193, 193, 0.67);
}

.nodes .node_container.stat_unknown circle {
  stroke: #604c45;
  fill: rgba(99, 77, 69, 0.67);
}

.nodes .node_container.focus circle {
  stroke: black !important;
}

/*
  description style
*/
.desc g text {
  text-anchor: middle;
}


/*
  tooltip style
*/
.tooltip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 10px;
  z-index: 100;
}

.tooltip strong.title {
  display: inline-block;
  width: 75px;
}



.bar:hover {
  fill: brown;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 3px;
}
.circle {
  fill: steelblue;
}


html, body { height: 100%; }

/* Style the dots by assigning a fill and stroke */
.dot {
  fill: #ffab00;
  stroke: #fff;
}

label {
  font-size: 1.1em;
}
.lable{
  font-size: 1.1em;
  font-weight: 600;
  color:#1ca2db
}
.chart-container {
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  width: 95%;
}

.chart-options{
    margin-left: 5px;
    margin-right: 10px;
}

.chart-card {
  margin-top: 5px;
  margin-bottom: 5px;
}
.svg-chart {
    width: 100%;
}

@media (min-height: 500px) {
  .svg-chart {
    height: 400px;
  }
}
@media (min-height: 750px) {
  .svg-chart {
    height: 500px;
  }
}
@media (min-height: 1000px) {
  .svg-chart {
    height: 800px;
  }
}

